<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://exchangerateupdater.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cef39e5c-0137-4320-ae15-827916cfa731/resourcegroups/dynamics/providers/Microsoft.Web/sites/exchangerateupdater</ResourceId>
    <UserName>$exchangerateupdater</UserName>
    <_SavePWD>True</_SavePWD>
    <MSDeployServiceURL>exchangerateupdater.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <DeployIisAppPath>exchangerateupdater</DeployIisAppPath>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>